<?xml version="1.0" encoding="UTF-8"?>
<config>
    <config-name>spirit-zk</config-name>
    <version>
        <version-class>com.googlecode.easyec.zkoss.Version</version-class>
        <version-uid>0.8.2</version-uid>
    </version>
    <taglib>
        <taglib-uri>http://easyec.googlecode.com/dsp/web/util</taglib-uri>
        <taglib-location>/web/WEB-INF/tld/web/util.dsp.tld</taglib-location>
    </taglib>
</config>
