<?xml version="1.0" encoding="UTF-8"?>
<config>
    <config-name>spirit-zk</config-name><!-- used to resolve dependency -->
    <depends>zkbind</depends>

    <version>
        <version-class>com.googlecode.easyec.zkoss.Version</version-class>
        <version-uid>0.8.1</version-uid>
    </version>

    <listener>
        <listener-class>com.googlecode.easyec.zkoss.proxy.MyBatisObjectProxyTargetHandler</listener-class>
    </listener>
</config>
