<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:paging="http://easyec.googlecode.com/schema/paging/mybatis"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://easyec.googlecode.com/schema/paging/mybatis
        http://easyec.googlecode.com/schema/paging/mybatis/paging.xsd"
       default-lazy-init="true">

    <paging:mybatis-config id="pageConfigurer" dialect="MySQL"/>
</beans>
